.corpo{
   align-items: center
}

.imagem1 {
    width: 150px;
    margin-left: 650px;
}

.imagem2 {
    width: 245px;
    margin-left: 630px;
}

.imagem3 {
    width: 140px;
    margin-left: 650px;
}
